<footer class="footer_area p_120">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="section-intro" data-aos="fade-up">
					<h3 class="f_subhead">PONTE EN CONTACTO</h3>

					<h1 class="f_idea">
						¿Tienes una idea o un concepto que realmente te entusiasme?
						Convirtamos esa idea en realidad. Envíame un mensaje.
					</h1>
				</div>

				<div class="d-grid gap-2">
					<a
						href="mailto:#0"
						class="btn btn--primary btn-lg active"
						role="button"
						aria-pressed="true"
						>Hablemos</a
					>
				</div>
			</div>

			<div class="column col-lg-6">
				<div class="footer-contacts">
					<div class="footer-contact-block" data-aos="fade-up">
						<h5 class="footer-contact-block__header">Email</h5>
						<p class="footer-contact-block__content">
							<a href="mailto:#0">{{"israelreyg@hotmail.com"}}</a>
						</p>
					</div>
					<!-- end footer-contact-block -->
					<div class="footer-contact-block" data-aos="fade-up">
						<h5 class="footer-contact-block__header">Teléfono</h5>
						<p class="footer-contact-block__content">
							<a href="tel:+525525111865">55 2511 1865</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="margin-top: 5rem">
				<aside class="text-center f_widget ab_widget">
					<p>
						<i class="far fa-heart" aria-hidden="true"></i> por Israel Reyes |
						{{ version }}
					</p>
				</aside>
			</div>
		</div>
	</div>
</footer>
