.p_120 {
	padding-top: 60px;
}

.footer_area {
	background: #000410;
	color: white;
	position: relative;
}

.f_title {
	margin-bottom: 35px;
}
.f_title h3 {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Heebo', sans-serif;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.f_idea {
	font-size: 2.5rem;
	line-height: 1.333;
}

.section-intro {
	font-family: 'Gothic A1', sans-serif;
	position: relative;
	margin-bottom: 7rem;
}

.f_subhead {
	font-size: 1.4rem;
	line-height: 1.286;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-top: 0;
	margin-bottom: 6rem;
	color: #f9861a;
}

.btn.btn--primary,
button.btn--primary,
input[type='submit'].btn--primary,
input[type='reset'].btn--primary,
input[type='button'].btn--primary {
	background: #149ddd;
	border-color: #149ddd;
	color: #ffffff;
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type='submit'].btn--primary:hover,
input[type='reset'].btn--primary:hover,
input[type='button'].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type='submit'].btn--primary:focus,
input[type='reset'].btn--primary:focus,
input[type='button'].btn--primary:focus {
	background: #1e5297;
	border-color: #1e5297;
}

/* ------------------------------------------------------------------- 
 * ## contact block
 * ------------------------------------------------------------------- */

.footer-contact-block a:hover,
.footer-contact-block a:focus {
	color: #f9861a;
}

.footer-contact-block__content,
.footer-contact-block__list li {
	padding: 0.8rem 0;
}

.footer-contact-block__list {
	list-style: none;
	margin-top: 0.4rem;
	margin-left: 0;
}

.footer-contact-block__list li {
	padding-left: 0;
}

.footer-contact-block__header {
	color: rgba(255, 255, 255, 0.4);
	margin: 0;
}

.footer-contacts {
	margin-top: 8.6rem;
	margin-left: 8.33333%;
}

.footer-contact-block {
	font-family: 'Gothic A1', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.2;
}

.footer-contact-block a {
	color: #ffffff;
}

.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.s-footer {
	padding-top: 24rem;
	padding-bottom: 8rem;
	background-color: #000410;
	position: relative;
}

.s-footer__bottom {
	font-family: 'Gothic A1', sans-serif;
	color: rgba(255, 255, 255, 0.5);
	margin-top: 8rem;
}

.footer-email-us .btn:hover,
.footer-email-us .btn:focus {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #000000;
}

.s-footer .footer-contacts {
	margin-top: 7.2rem;
	margin-left: 8.33333%;
}

.column {
	padding: 0 16px;
}
