<section id="resume" class="resume">
	<div class="container">
		<div class="section-title">
			<h2>Experiencia profesional</h2>
			<p></p>
		</div>

		<div class="row">
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<div class="resume-item">
					<h4>Bakend developer</h4>
					<h5>septiembre 2021 - a la fecha</h5>
					<p><em>Sngular para Grupo Modelo, CDMX </em></p>
					<p><strong>FUNCIONES:</strong></p>
					<ul>
						<li>Agregar nuevas funciones a los micro servicios</li>
						<li>Diseñar y desarrollar micro-servicios. </li>
						<li>Corrección y mejoras.</li>
						<li>Pruebas unitarias con Jest y Vitest.</li>
						<li>Administración y diseño de las Bases de Dato.</li>
						<li>Desarrollo de API REST FULL (nodeJS).</li>
						<li>GraphQL.</li>
						<li>Desarrollo de aplicaciones Webs (React y NodeJS).</li>
					</ul>
					<p><strong>LOGROS:</strong></p>
					<ul>
						<li>tecnología serverless y core tools.</li>
						<li>Manejo de tecnologías cloud: AWS y Azure.</li>
						<li>Consumir e insertar información en DynamoDB.</li>
						<li>Trabajo en equipo.</li>
						<li>Mejor comprensión sobre la lógica de venta en line, almacén,transporte y puntos de venta.</li>
					</ul>
				</div>

				<div class="resume-item">
					<h4>Senior MEAN stack developer</h4>
					<h5>junio 2019 - septiembre 2021</h5>
					<p><em>AXA, CDMX </em></p>
					<p><strong>FUNCIONES:</strong></p>
					<ul>
						<li>Toma de requerimientos.</li>
						<li>Diseñar y desarrollar.</li>
						<li>Corrección y mejoras.</li>
						<li>Asesoría del funcionamiento de las aplicaciones.</li>
						<li>Administración y diseño de las Bases de Datos.</li>
						<li>Desarrollo de API REST FULL (nodeJS).</li>
						<li>Desarrollo de aplicaciones Webs (Angular).</li>
						<li>Pruebas unitarias con Mocha y Chai.</li>
						<li>Pruebas unitarias con Jasmine y Karma</li>
					</ul>
					<p><strong>LOGROS:</strong></p>
					<ul>
						<li>
							Desarrollo e implementación de un sistema para realizar las
							solicitudes en linea.
						</li>
						<li>Coordinar el equipo.</li>
						<li>Asignación de tareas.</li>
						<li>Integración de firma electrónica.</li>
						<li>Integración con SiteMinder</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<div class="resume-item">
					<h4>Desarrollador Full Stack</h4>
					<h5>Marzo 2017 - Junio 2019</h5>
					<p><em>ZEGMENTS (powerboard lms), CDMX</em></p>
					<p><strong>FUNCIONES:</strong></p>
					<ul>
						<li>Toma de requerimientos de los proyectos a desarrollar.</li>
						<li>Diseño, desarrollo y administración de aplicaciones.</li>
						<li>Diseño y desarrollo de APIs REST.</li>
						<li>
							Planeación, implementación y administración de las Bases de Datos,
							realizando MER, funciones, procedimientos y triggers.
						</li>
						<li>Pruebas unitarias con PHPUnit.</li>
						<li>Administración de Servidor S3</li>
						<li>
							SCRUM Estrategias de trabajo, para la planeación de tiempo, costos
							y alcances de la aplicación.
						</li>
					</ul>
					<p><strong>LOGROS:</strong></p>
					<ul>
						<li>Diseño y desarrollo de un LMS (B TO C) <b>Zegments</b>.</li>
						<li>
							Diseño y desarrollo de un LMS para empresas (B TO B)
							<b>Powerboard</b>.
						</li>

						<li>
							Ser parete de la aceleración por parte de
							<b>Masschallenge México</b>.
							<a href="https://masschallenge.org/programs-mexico">
								https://masschallenge.org/programs-mexico </a
							>.
						</li>
					</ul>
				</div>

				<div class="resume-item">
					<h4>Desarrollador Full Stack</h4>
					<h5>Junio 2015 - Marzo 2017</h5>
					<p><em>UNOi - Santillana, CDMX</em></p>
					<p><strong>FUNCIONES:</strong></p>
					<ul>
						<li>
							Desarrollar aplicaciones, desde la toma de requerimientos hasta la
							implementación y mantenimiento.
						</li>
						<li>Corrección y mejoras a sistemas ya existentes.</li>
						<li>Asesoría del funcionamiento de las aplicaciones.</li>
						<li>
							Administración y diseño de las Bases de Datos, realización de MER,
							funciones, procedimientos y triggers.
						</li>
						<li>Desarrollo de APIs REST (nodeJS y PHP).</li>
						<li>Desarrollo de aplicaciones Webs (MEAN y PHP).</li>
						<li>Desarrollo de Juegos Moviles (UNITY).</li>
					</ul>
					<p><strong>LOGROS:</strong></p>
					<ul>
						<li>
							Desarrollo e implementación de un sistema de red social para los
							tutores de los alumnos.
						</li>
						<li>
							Desarrollo e implementación de un sistema de apoyo a los colegios
							en la evangelización de <b>sistema UNOi</b>.
						</li>
						<li>
							Desarrollo e implementación de un motor para la creación de
							encuestas.
						</li>
						<li>
							Desarrollo e implementación de juegos en Unity para el
							reforzamiento de lo visto en clase.
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<div class="resume-item">
					<h4>Desarrollador Full Stack</h4>
					<h5>Septiembre 2012 - Junio 2015</h5>
					<p><em>SERTEC, CDMX</em></p>
					<ul>
						<li>
							Supervisar y Desarrollar aplicaciones, desde la toma de
							requerimientos hasta la implementación y mantenimiento.
						</li>
						<li>Corrección y mejoras a sistemas ya existentes.</li>
						<li>Asesoría del funcionamiento de las aplicaciones.</li>
						<li>
							Administración de las Bases de Datos, realización de MER,
							funciones, procedimientos y triggers.
						</li>
						<li>Administración de Servidores Linux y Windows</li>
						<li>
							Realización de estrategias de trabajo, para la planeación de
							tiempos, costos y alcances de las aplicaciones.
						</li>
					</ul>
					<p><strong>LOGROS:</strong></p>
					<ul>
						<li>
							Desarrollo e implementación de un sistema para la administración y
							entrega de tarjetas de crédito.
						</li>
						<li>
							Desarrollo e implementación de un sistema para la administración y
							gestión de los deudores de inmobiliarias.
						</li>
						<li>
							Desarrollo e implementación de un sistema para la administración y
							reporteo de información de una base externa, la cual guarda la
							información de todas las llamadas realizadas en el área de Call
							Center.
						</li>
						<li>
							Planeación e implementación de Tareas programadas (windows) y
							Crones (Linux).
						</li>
						<li>
							Desarrollo e implementación de un sistema para la Replicación de
							base de datos SqlServer a MySQL.
						</li>
						<li>
							Desarrollo e implementación de un sistema para la administración y
							envió de correos electrónicos masivos.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
